<!DOCTYPE html>
<html>
<head>
	<title>Purchase | Online Shopping | Online Payment</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style type="text/css">

</style>
</head>
<body>
  <%- include partials/navbar.ejs %>
  <div class="container">
    <h2 class="form-signin-heading">Purchase iphone X</h2>
    <div class="row">
      <div class="col-md-4 text-left" style="padding:20px">
        <div class="form-purchase" id="purchase_form">
          <br>
          <h5><b>Name: </b><%=name%></h5>
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="Your Email" value="harshit@gmail.com" required>
          </div>
          <div class="form-group">
            <label>Phone no</label>
            <input type="number" name="phone" class="form-control" placeholder="Phone no" value="9585602122" required>
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" placeholder="Your delivery address" required="" value="19B Alipore Road" name="address">19/B Alipore road</textarea>
          </div>
          <div class="form-group">
            <label>Credit Card number</label>
            <input type="text" name="creditcardno" class="form-control" placeholder="Credit Card number" value="390494831098" required>
          </div>
          <div class="form-group">
            <label>Expiration date</label>
            <input type="text" name="creditcarddate" class="form-control" placeholder="Expiration date" value="10/11/25" required>
          </div>
          <div class="form-group">
            <label>CVV</label>
            <input type="password" name="cvv" class="form-control" placeholder="CVV number" value="221" required>
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Purchase this product</button>
        </div>
      </div>
      <div class="offset-md-2 col-md-6 text-center">
        <img class="responsive-img" src="/images/iphonex.jpeg" />
        <br/><br/>
        <h2>iphone X</h2>
        <h3>&#8377; 63,000</h3>
      </div>
    </div>
  </div>



  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/jsencrypt.min.js"></script>
  <script>
    var encrypt = new JSEncrypt();
    $('#submit').click(function(event) {
      event.preventDefault();
      // Merchant Information Message Digest
      var merchantData = {
        'name' : "<%=name%>",
        'email': $('input[name=email]').val(),
        'phone': $('input[name=phone]').val(),
        'address': $('input[name=address]').val(),
        'product': "iphonex",
        'price': "63000"
      };
      encrypt.setPublicKey("<%-merchantPublicKey%>");
      var encryptedMerchantData = encrypt.encrypt(JSON.stringify(merchantData));
      console.log("encryptedMerchantData:");
      console.log(encryptedMerchantData);
      
      // Payment Information Message Digest
      var bankData = {
        'name' : "<%=name%>",
        'creditcardno': $('input[name=creditcardno]').val(),
        'creditcarddate': $('input[name=creditcarddate]').val(),
        'cvv': $('input[name=cvv]').val(),
      };
      encrypt.setPublicKey("<%-bankPublicKey%>");
      var encryptedBankData = encrypt.encrypt(JSON.stringify(bankData));
      console.log("encryptedBankData:");
      console.log(encryptedBankData);

      var message_digest = encryptedMerchantData + encryptedBankData;

      //POST data to merchant server
      $.ajax({
        type: 'POST',
        url: 'purchase/submit', 
        data: {
          pimd: encodeURIComponent(encryptedBankData),
          oimd: (encryptedMerchantData),
        }, 
        dataType: 'json', 
        encode: true
      })
      .done(function(data) {
        console.log(data); 
        if (data.success === 1) {
          console.log(data.redirect);
          window.location.href = "http://localhost:4000" + data.redirect;
        }
        else {
          alert("Incorrect Information");
        }
      });
    });
  </script>
</body>
</html>
